{:identifier "Analog-Compressor"
 :identity "ub7az9vsnb16ax8"
 :patch
{:cables
{["2ut8qee3q428b6q" 0] [:fixed "dldc5etdshyahsl" 0]
 ["2ut8qee3q428b6q" 1] [:fixed "w4o4ic4ohhp52t5" 0]
 ["50t3kl4b5phwccq" 0] [:fixed "2ut8qee3q428b6q" 0]
 ["5lwab81th6tl54q" 0] [:fixed "vrc7yqilbbwq6j" 0]
 ["5lwab81th6tl54q" 1] [:fixed "9hbaz313lyp1o5e" 0]
 ["6yx9ih8vz8fmahz" 0] [:fixed "50t3kl4b5phwccq" 0]
 ["6yx9ih8vz8fmahz" 1] [:fixed "50t3kl4b5phwccq" 0]
 ["6yx9ih8vz8fmahz" 2] [:fixed "50t3kl4b5phwccq" 0]
 ["6yx9ih8vz8fmahz" 3] [:fixed "l77a48d59e0s4po" 0]
 ["9hbaz313lyp1o5e" 0] [:fixed "6yx9ih8vz8fmahz" 0]
 ["9hbaz313lyp1o5e" 1] [:fixed "5r09ppsh94f1z6r" 0]
 ["dldc5etdshyahsl" 0] [:fixed "pcf553s43pp36cy" 0]
 ["dldc5etdshyahsl" 1] [:fixed "9s8zl9td54edudh" 0]
 ["dldc5etdshyahsl" 2] [:fixed "90h3ka7sb22p2l1" 0]
 ["o9v2kcse9cn1lp3" 0] [:fixed "vljn8mjdjmonyep" 0]
 ["p6ge203dacesc3g" 0] [:fixed "vhe7alru78q9nyj" 0]
 ["r7r6qbb4k07ji40" 0] [:fixed "dldc5etdshyahsl" 0]
 ["ubi6e425okqjrpr" 0] [:fixed "o9v2kcse9cn1lp3" 0]
 ["vljn8mjdjmonyep" 0] [:fixed "5lwab81th6tl54q" 0]
 ["vrc7yqilbbwq6j" 0] [:fixed "pcf553s43pp36cy" 0]
 ["vrc7yqilbbwq6j" 1] [:fixed "2ut8qee3q428b6q" 0]
 ["vrc7yqilbbwq6j" 2] [:fixed "p6ge203dacesc3g" 0]
 ["w4o4ic4ohhp52t5" 0] [:fixed "r7r6qbb4k07ji40" 0]
 ["w4o4ic4ohhp52t5" 1] [:fixed "cws4z6gl25m340x" 0]
 ["w4o4ic4ohhp52t5" 2] [:fixed "4z4wza7iqte71e" 0]}
 :nodes
{"03sdhmofhcg1ypf" 
{:inputs []
 :label "; # 'Analog' Compressor #\n\n\nThis circuit is a simple approximation of the nonlinearity produced by tube compressors - generation of even harmonics with increasing attenuation."
 :outputs []
 :parsed [:comment "# 'Analog' Compressor #\n\n\nThis circuit is a simple approximation of the nonlinearity produced by tube compressors - generation of even harmonics with increasing attenuation."]
 :pos [-444 -465]
 }
 "14l2bred4xhw7mo" 
{:color 4
 :inputs []
 :label "; ## Bias and Nonlinearity ##\n\n\nThis circuit is loosely based on how vari-mu compressors color the signal, but is not physically modeled.\n\n\nThe gain stage introduces a DC offset that increases with attenuation.\n\n\nCombined with soft saturation, the biased signal produces asymmetric distortion when the attenuation is high. \n\n\n\nFinally we remove any DC offset after soft saturation."
 :outputs []
 :parsed [:comment "## Bias and Nonlinearity ##\n\n\nThis circuit is loosely based on how vari-mu compressors color the signal, but is not physically modeled.\n\n\nThe gain stage introduces a DC offset that increases with attenuation.\n\n\nCombined with soft saturation, the biased signal produces asymmetric distortion when the attenuation is high. \n\n\n\nFinally we remove any DC offset after soft saturation."]
 :pos [423 -375]
 }
 "2ut8qee3q428b6q" 
{:inputs ["sig" "lag"]
 :label "Lag($sig $lag)"
 :name "lag circuit"
 :outputs [""]
 :parsed [:fn "Lag" [:tuple [:free-var "sig"] [:free-var "lag"]]]
 :pos [106 66]
 }
 "4z4wza7iqte71e" 
{:color 3
 :inputs []
 :label "0.01 -x- 2.5"
 :name "release"
 :outputs [""]
 :parsed [:widget "som0u8" 0.39619053431919643 {:type :slider, :limits [[:float "0.01"] [:float "2.5"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [-179 -245]
 }
 "50t3kl4b5phwccq" 
{:color 4
 :inputs ["b"]
 :label "1 -"
 :outputs [""]
 :parsed [:infix [:float "1"] "-" [:free-var "b"]]
 :pos [325 67]
 }
 "5lwab81th6tl54q" 
{:cable-midpoints 
{1 [13 52]}
 :color 4
 :inputs ["a" "b" "more..."]
 :label "+"
 :name "bias"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "+" [:free-var "b"] [:free-var "more..."]]
 :pos [371 237]
 }
 "5r09ppsh94f1z6r" 
{:color 4
 :inputs []
 :label "8"
 :outputs [""]
 :parsed [:float "8"]
 :pos [494 0]
 }
 "6yx9ih8vz8fmahz" 
{:color 4
 :ephemeral-inputs #{"more" "more2"}
 :inputs ["a" "b" "more" "more2" "more..."]
 :label "*"
 :name "bias shape"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more"] [:free-var "more2"] [:free-var "more..."]]
 :pos [443 111]
 }
 "90h3ka7sb22p2l1" 
{:color 3
 :inputs []
 :label "1 .o 8"
 :name "ratio"
 :outputs [""]
 :parsed [:widget "-xpvbyu" 1 {:type :dial, :skin :circular, :min [:float "1"], :max [:float "8"]}]
 :pos [-457 -245]
 }
 "9hbaz313lyp1o5e" 
{:color 4
 :inputs ["sig" "cutoff"]
 :label "Filter:Lpf6($sig $cutoff)"
 :name "bias lag"
 :outputs [""]
 :parsed [:fn "Filter:Lpf6" [:tuple [:free-var "sig"] [:free-var "cutoff"]]]
 :pos [552 111]
 }
 "9s8zl9td54edudh" 
{:color 3
 :inputs []
 :label "-60 -o- 0"
 :name "threshold"
 :outputs [""]
 :parsed [:widget "-kzt5fh" 0.2533333914620536 {:type :slider, :limits [[:float "-60"] [:float "0"]], :render [:limits], :size 3, :orientation :vertical, :curve :linear}]
 :pos [-579 -245]
 }
 "cws4z6gl25m340x" 
{:color 3
 :inputs []
 :label "0.005 -x- 0.3"
 :name "attack"
 :outputs [""]
 :parsed [:widget "-r1doso" 0.6390476771763393 {:type :slider, :limits [[:float "0.005"] [:float "0.3"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [-268 -245]
 }
 "dldc5etdshyahsl" 
{:inputs ["sig" "threshold" "ratio"]
 :label "Attenuation($sig $threshold $ratio)"
 :name "find gain target"
 :outputs [""]
 :parsed [:fn "Attenuation" [:tuple [:free-var "sig"] [:free-var "threshold"] [:free-var "ratio"]]]
 :pos [-337 68]
 }
 "l77a48d59e0s4po" 
{:color 4
 :inputs []
 :label "0.3"
 :outputs [""]
 :parsed [:float "0.3"]
 :pos [325 -11]
 }
 "o5rr7hvmig1stsw" 
{:inputs []
 :label ";### Next up.... ###\n\n\nThe rest of the tabs in this workspace demonstrate several subcircuits in a compressor:\n\n\n- [Computing target attenuation](#5)\n- [Decibel slew limiter](#6)\n- [Lag circuit](#7)\n- [Decibel to Linear conversion](#8)\n- [Test audio player](#9)"
 :outputs []
 :parsed [:comment "### Next up.... ###\n\n\nThe rest of the tabs in this workspace demonstrate several subcircuits in a compressor:\n\n\n- [Computing target attenuation](#5)\n- [Decibel slew limiter](#6)\n- [Lag circuit](#7)\n- [Decibel to Linear conversion](#8)\n- [Test audio player](#9)"]
 :pos [-454 278]
 :selected true}
 "o9v2kcse9cn1lp3" 
{:color 4
 :inputs ["sig"]
 :label "Filter:DC($sig)"
 :name "DC blocker"
 :outputs [""]
 :parsed [:fn "Filter:DC" [:tuple [:free-var "sig"]]]
 :pos [556 237]
 }
 "p6ge203dacesc3g" 
{:inputs ["db"]
 :label "From-dB($db)"
 :outputs [""]
 :parsed [:fn "From-dB" [:tuple [:free-var "db"]]]
 :pos [77 -31]
 }
 "pcf553s43pp36cy" 
{:inputs []
 :label "Test-Drums()"
 :name "test sound"
 :outputs [""]
 :parsed [:fn "Test-Drums" [:tuple]]
 :pos [-541 178]
 }
 "r7r6qbb4k07ji40" 
{:inputs ["sig"]
 :label "Control:Edge-($sig)"
 :outputs [""]
 :parsed [:fn "Control:Edge-" [:tuple [:free-var "sig"]]]
 :pos [-166 12]
 }
 "ubi6e425okqjrpr" 
{:cable-midpoints 
{0 [-293 134]}
 :inputs ["sig"]
 :label "o))"
 :name "play here!"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [-70 284]
 }
 "vhe7alru78q9nyj" 
{:color 3
 :inputs []
 :label "-24 .o 24"
 :name "makeup gain"
 :outputs [""]
 :parsed [:widget "-iy04xl" 0.975 {:type :dial, :skin :circular, :min [:float "-24"], :max [:float "24"]}]
 :pos [-40 -245]
 }
 "vljn8mjdjmonyep" 
{:color 4
 :inputs ["w"]
 :label "Approx:Tanh($w)"
 :name "saturation"
 :outputs [""]
 :parsed [:fn "Approx:Tanh" [:tuple [:free-var "w"]]]
 :pos [463 237]
 }
 "vrc7yqilbbwq6j" 
{:ephemeral-inputs #{"more"}
 :inputs ["a" "b" "more" "more..."]
 :label "*"
 :name "gain stage"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more"] [:free-var "more..."]]
 :pos [222 178]
 }
 "w4o4ic4ohhp52t5" 
{:inputs ["truth" "when-true" "when-false"]
 :label "Algorithm:Choose($truth $when-true $when-false)"
 :outputs [""]
 :parsed [:fn "Algorithm:Choose" [:tuple [:free-var "truth"] [:free-var "when-true"] [:free-var "when-false"]]]
 :pos [-44 12]
 }}
 :scale 1
 :scroll [0 0]}}