{:documentation "Compute target attenuation for a compressor with `threshold` in decibels and `ratio` of compression above that."
 :draft-argument "Gen:Sin(1) -12 4"
 :identifier "Attenuation"
 :identity "initial"
 :patch
{:cables
{["2j26d4aj9g61ju1" 0] [:fixed "je5482cvqp1gt7v" 0]
 ["2y3ehl7r9byde53" 0] [:fixed "93p23qamoh51jtf" 0]
 ["93p23qamoh51jtf" 0] [:fixed "2bpq6svrjgg3znp" 0]
 ["93p23qamoh51jtf" 1] [:fixed "hyg12117s52k40" 0]
 ["9liu2nde1mmbdmy" 0] [:fixed "2bpq6svrjgg3znp" 1]
 ["elgatoh357b7rw3" 0] [:fixed "2y3ehl7r9byde53" 0]
 ["fa0a7t9s170x6x5" 0] [:fixed "elgatoh357b7rw3" 0]
 ["fa0a7t9s170x6x5" 1] [:fixed "2j26d4aj9g61ju1" 0]
 ["hyg12117s52k40" 0] [:fixed "9liu2nde1mmbdmy" 0]
 ["je5482cvqp1gt7v" 0] [:fixed "2bpq6svrjgg3znp" 2]}
 :nodes
{"2bpq6svrjgg3znp" 
{:inputs []
 :label "(sig threshold ratio) = arg"
 :outputs ["sig" "threshold" "ratio"]
 :parsed "arg"
 :pos [-381 118]}
 "2j26d4aj9g61ju1" 
{:color 3
 :inputs ["a"]
 :label "- 1"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "-" [:float "1"]]
 :pos [181 213]}
 "2y3ehl7r9byde53" 
{:inputs ["a"]
 :label "Abs($a)"
 :outputs [""]
 :parsed [:fn "Abs" [:tuple [:free-var "a"]]]
 :pos [81 109]}
 "8qdzu0btnxtb2wq" 
{:color 3
 :inputs []
 :label "; The *gain factor* can be computed by dividing the target gain by the source gain.\n\n\nBecause we are already computing a power of the source gain, the division can be done by just decrementing the exponent."
 :outputs []
 :parsed [:comment "The *gain factor* can be computed by dividing the target gain by the source gain.\n\n\nBecause we are already computing a power of the source gain, the division can be done by just decrementing the exponent."]
 :pos [221 276]}
 "93p23qamoh51jtf" 
{:color 2
 :inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [-14 109]}
 "9liu2nde1mmbdmy" 
{:color 2
 :inputs ["db"]
 :label "From-dB($db)"
 :outputs [""]
 :parsed [:fn "From-dB" [:tuple [:free-var "db"]]]
 :pos [-248 29]}
 "a3zbb1zbv22d99i" 
{:inputs []
 :label "; We ignore the sign of the source amplitude by taking the absolute value, and clamp all levels below 1 (0dB) so that the attenuator only reacts above the threshold."
 :outputs []
 :parsed [:comment "We ignore the sign of the source amplitude by taking the absolute value, and clamp all levels below 1 (0dB) so that the attenuator only reacts above the threshold."]
 :pos [239 -67]}
 "ap6mcudm9ve4epx" 
{:color 3
 :inputs []
 :label "; The decibel scale is *logarithmic*. Therefore we can implement *division* on the logarithmic scale by taking a *fractional power*."
 :outputs []
 :parsed [:comment "The decibel scale is *logarithmic*. Therefore we can implement *division* on the logarithmic scale by taking a *fractional power*."]
 :pos [-242 276]}
 "elgatoh357b7rw3" 
{:inputs ["b"]
 :label "Max(1 $b)"
 :outputs [""]
 :parsed [:fn "Max" [:tuple [:float "1"] [:free-var "b"]]]
 :pos [226 109]}
 "fa0a7t9s170x6x5" 
{:color 3
 :flip-y true
 :inputs ["a" "b"]
 :label "Math:Pow($a $b)"
 :outputs [""]
 :parsed [:fn "Math:Pow" [:tuple [:free-var "a"] [:free-var "b"]]]
 :pos [401 133]}
 "hyg12117s52k40" 
{:color 2
 :inputs ["b"]
 :label "1 /"
 :outputs [""]
 :parsed [:infix [:float "1"] "/" [:free-var "b"]]
 :pos [-101 29]}
 "je5482cvqp1gt7v" 
{:color 3
 :inputs ["b"]
 :label "1 /"
 :outputs [""]
 :parsed [:infix [:float "1"] "/" [:free-var "b"]]
 :pos [-119 213]}
 "jw2l5c27imqpcmv" 
{:inputs []
 :label ";# Computing Compressor Attenuation Target #\n\n\nThe basic idea of compression is to reduce the peaks in the audio signal above a `threshold` by a *compression ratio* specified in decibels."
 :outputs []
 :parsed [:comment "# Computing Compressor Attenuation Target #\n\n\nThe basic idea of compression is to reduce the peaks in the audio signal above a `threshold` by a *compression ratio* specified in decibels."]
 :pos [-285 -423]}
 "k72xt7eebb6ccnv" 
{:color 2
 :inputs []
 :label "; We specify the compressor threshold at 0dB or the linear amplitude of 1. Variable threshold can be achieved by adding a gain stage at the input."
 :outputs []
 :parsed [:comment "We specify the compressor threshold at 0dB or the linear amplitude of 1. Variable threshold can be achieved by adding a gain stage at the input."]
 :pos [-210 -123]}}
 :scale 1
 :scroll [0 0]}}