{:identifier "Compressor"
 :identity "akwctt1u200u8dr"
 :patch
{:cables
{["58x25yrkh7dchb2" 0] [:fixed "x90j9zgy8ta02vb" 0]
 ["58x25yrkh7dchb2" 1] [:fixed "8ye99ampg83u7u9" 0]
 ["58x25yrkh7dchb2" 2] [:fixed "6oc3k2iwxsnye4j" 0]
 ["6oc3k2iwxsnye4j" 0] [:fixed "49bdcw73d1waiud" 0]
 ["7aven0mzg32jp9k" 0] [:fixed "58x25yrkh7dchb2" 0]
 ["8ye99ampg83u7u9" 0] [:fixed "p1nrdpppv7qw335" 0]
 ["8ye99ampg83u7u9" 1] [:fixed "ui8cg6e58ra1a7u" 0]
 ["aqbb59fvcpfd9r" 0] [:fixed "p1nrdpppv7qw335" 0]
 ["p1nrdpppv7qw335" 0] [:fixed "x90j9zgy8ta02vb" 0]
 ["p1nrdpppv7qw335" 1] [:fixed "friszr7itzq9kii" 0]
 ["p1nrdpppv7qw335" 2] [:fixed "9rntnwuwx87bu" 0]
 ["ui8cg6e58ra1a7u" 0] [:fixed "aqbb59fvcpfd9r" 0]
 ["ui8cg6e58ra1a7u" 1] [:fixed "bdjiqty2l3i0mp7" 0]
 ["ui8cg6e58ra1a7u" 2] [:fixed "k1k4zj2e592kb1s" 0]}
 :nodes
{"49bdcw73d1waiud" 
{:color 3
 :inputs []
 :label "-24 .o 24"
 :name "makeup gain"
 :outputs [""]
 :parsed [:widget "-uzrodd" 0.665 {:type :dial, :skin :circular, :min [:float "-24"], :max [:float "24"]}]
 :pos [158 -95]
 }
 "58x25yrkh7dchb2" 
{:ephemeral-inputs #{"more"}
 :inputs ["a" "b" "more" "more..."]
 :label "*"
 :name "gain stage"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more"] [:free-var "more..."]]
 :pos [469 331]
 }
 "6oc3k2iwxsnye4j" 
{:inputs ["db"]
 :label "From-dB($db)"
 :outputs [""]
 :parsed [:fn "From-dB" [:tuple [:free-var "db"]]]
 :pos [343 100]
 }
 "7aven0mzg32jp9k" 
{:cable-midpoints 
{0 [-179 162]}
 :inputs ["sig"]
 :label "o))"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [29 423]
 }
 "8ye99ampg83u7u9" 
{:inputs ["sig" "lag"]
 :label "Lag($sig $lag)"
 :name "lag circuit"
 :outputs [""]
 :parsed [:fn "Lag" [:tuple [:free-var "sig"] [:free-var "lag"]]]
 :pos [388 218]
 }
 "9rntnwuwx87bu" 
{:color 3
 :inputs []
 :label "1 .o 8"
 :name "ratio"
 :outputs [""]
 :parsed [:widget "-b3uxc5" 1 {:type :dial, :skin :circular, :min [:float "1"], :max [:float "8"]}]
 :pos [-259 -95]
 }
 "aqbb59fvcpfd9r" 
{:color 4
 :inputs ["sig"]
 :label "Control:Edge-($sig)"
 :outputs [""]
 :parsed [:fn "Control:Edge-" [:tuple [:free-var "sig"]]]
 :pos [32 162]
 }
 "bdjiqty2l3i0mp7" 
{:color 3
 :inputs []
 :label "0.005 -x- 0.3"
 :name "attack"
 :outputs [""]
 :parsed [:widget "97z5j7" 0.5433332170758929 {:type :slider, :limits [[:float "0.005"] [:float "0.3"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [-70 -95]
 }
 "bwnninc7zptzn4t" 
{:color 4
 :inputs []
 :label "; `Edge-` outputs a logical true when the input signal is going down.\n\n\n`Choose` selects one from two values depending on that truth value."
 :outputs []
 :parsed [:comment "`Edge-` outputs a logical true when the input signal is going down.\n\n\n`Choose` selects one from two values depending on that truth value."]
 :pos [140 260]
 }
 "friszr7itzq9kii" 
{:color 3
 :inputs []
 :label "-60 -o- 0"
 :name "threshold"
 :outputs [""]
 :parsed [:widget "a5sni1" 0.3361903599330357 {:type :slider, :limits [[:float "-60"] [:float "0"]], :render [:limits], :size 3, :orientation :vertical, :curve :linear}]
 :pos [-381 -95]
 }
 "k1k4zj2e592kb1s" 
{:color 3
 :inputs []
 :label "0.01 -x- 2.5"
 :name "release"
 :outputs [""]
 :parsed [:widget "-l197ah" 0.40047607421875 {:type :slider, :limits [[:float "0.01"] [:float "2.5"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [19 -95]
 }
 "kdf4uxr4v3gz874" 
{:inputs []
 :label ";### Next up... ###\n\n\nSome people prefer to specify attack and release as [decibel slews](#3)"
 :outputs []
 :parsed [:comment "### Next up... ###\n\n\nSome people prefer to specify attack and release as [decibel slews](#3)"]
 :pos [469 -70]
 :selected true}
 "p1nrdpppv7qw335" 
{:inputs ["sig" "threshold" "ratio"]
 :label "Attenuation($sig $threshold $ratio)"
 :name "find gain target"
 :outputs [""]
 :parsed [:fn "Attenuation" [:tuple [:free-var "sig"] [:free-var "threshold"] [:free-var "ratio"]]]
 :pos [-139 218]
 }
 "sef4k403xu9jqr3" 
{:inputs []
 :label "; # Attack-Release Compressor #\n\nNormally compressors allow the user to set the lag time depending on whether the compressor is in *attack* or *release* phase.\n\nThis circuit accomplishes that by selecting one of two lag times depending on whether the attenuation value is moving up or down."
 :outputs []
 :parsed [:comment "# Attack-Release Compressor #\n\nNormally compressors allow the user to set the lag time depending on whether the compressor is in *attack* or *release* phase.\n\nThis circuit accomplishes that by selecting one of two lag times depending on whether the attenuation value is moving up or down."]
 :pos [-293 -432]
 }
 "ui8cg6e58ra1a7u" 
{:color 4
 :inputs ["truth" "when-true" "when-false"]
 :label "Algorithm:Choose($truth $when-true $when-false)"
 :outputs [""]
 :parsed [:fn "Algorithm:Choose" [:tuple [:free-var "truth"] [:free-var "when-true"] [:free-var "when-false"]]]
 :pos [154 162]
 }
 "x90j9zgy8ta02vb" 
{:inputs []
 :label "Test-Drums()"
 :name "test sound"
 :outputs [""]
 :parsed [:fn "Test-Drums" [:tuple]]
 :pos [-343 328]
 }}
 :scale 1
 :scroll [0 0]}}