{:draft-argument "Gen:Sin(2) 100 6"
 :identifier "dB-Slew"
 :identity "ec3dyf78zyec8c"
 :patch
{:cables
{["4nmc6ki4ccks4zf" 0] [:fixed "7mhgtrisbvjfv4y" 0]
 ["70obqbj879qogg1" 0] [:fixed "7mhgtrisbvjfv4y" 2]
 ["70obqbj879qogg1" 1] [:fixed "4nmc6ki4ccks4zf" 0]
 ["8ncgoj7jyak4xnf" 0] [:fixed "gebmx72aj9tc3t5" 0]
 ["8wml674pug153r8" 0] [:fixed "jqv1yng9qgl2rmp" 0]
 ["die6ho2p1w0kk0" 0] [:fixed "7mhgtrisbvjfv4y" 0]
 ["die6ho2p1w0kk0" 1] [:fixed "6nh73tou2ghh4ud" 0]
 ["g469j15y976uhbg" 0] [:fixed "70obqbj879qogg1" 0]
 ["gebmx72aj9tc3t5" 0] [:fixed "zdkxt6e27u089mq" 0]
 ["gebmx72aj9tc3t5" 1] [:fixed "4nmc6ki4ccks4zf" 0]
 ["jqv1yng9qgl2rmp" 0] [:fixed "7mhgtrisbvjfv4y" 0]
 ["jqv1yng9qgl2rmp" 1] [:fixed "qv7gqqk2pnqr04y" 0]
 ["jqv1yng9qgl2rmp" 2] [:fixed "to6dhmf9g9rup39" 0]
 ["lox0rpf07sy1sd" 0] [:fixed "die6ho2p1w0kk0" 0]
 ["lox0rpf07sy1sd" 1] [:fixed "jqv1yng9qgl2rmp" 0]
 ["qv7gqqk2pnqr04y" 0] [:fixed "lox0rpf07sy1sd" 0]
 ["qv7gqqk2pnqr04y" 1] [:fixed "8ncgoj7jyak4xnf" 0]
 ["to6dhmf9g9rup39" 0] [:fixed "lox0rpf07sy1sd" 0]
 ["to6dhmf9g9rup39" 1] [:fixed "g469j15y976uhbg" 0]
 ["zdkxt6e27u089mq" 0] [:fixed "7mhgtrisbvjfv4y" 1]}
 :nodes
{"4nmc6ki4ccks4zf" 
{:cable-midpoints 
{}
 :inputs ["sig"]
 :label "Rate-of($sig)"
 :outputs [""]
 :parsed [:fn "Rate-of" [:tuple [:free-var "sig"]]]
 :pos [-220 -180]}
 "6nh73tou2ghh4ud" 
{:inputs []
 :label "#1"
 :outputs [""]
 :parsed [:invariant "1"]
 :pos [-231 108]}
 "70obqbj879qogg1" 
{:cable-midpoints 
{}
 :inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [-154 1]}
 "7mhgtrisbvjfv4y" 
{:inputs []
 :label "(sig attack release) = arg"
 :outputs ["sig" "attack" "release"]
 :parsed "arg"
 :pos [-363 -94]}
 "8ncgoj7jyak4xnf" 
{:inputs ["db"]
 :label "From-dB($db)"
 :outputs [""]
 :parsed [:fn "From-dB" [:tuple [:free-var "db"]]]
 :pos [23 -74]}
 "8wml674pug153r8" 
{:cable-midpoints 
{}
 :inputs ["out"]
 :label "$out"
 :outputs [""]
 :parsed [:free-var "out"]
 :pos [382 371]}
 "die6ho2p1w0kk0" 
{:cable-midpoints 
{}
 :inputs ["type" "value"]
 :label "Coerce($type $value)"
 :outputs [""]
 :parsed [:fn "Coerce" [:tuple [:free-var "type"] [:free-var "value"]]]
 :pos [-186 185]}
 "g469j15y976uhbg" 
{:inputs ["db"]
 :label "From-dB($db)"
 :outputs [""]
 :parsed [:fn "From-dB" [:tuple [:free-var "db"]]]
 :pos [-14 1]}
 "gebmx72aj9tc3t5" 
{:inputs ["a" "b" "more..."]
 :label "/"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:free-var "b"] [:free-var "more..."]]
 :pos [-106 -74]}
 "jqv1yng9qgl2rmp" 
{:cable-midpoints 
{0 [-8 244]}
 :inputs ["x" "low-bound" "high-bound"]
 :label "Math:Clamp($x $low-bound $high-bound)"
 :outputs [""]
 :parsed [:fn "Math:Clamp" [:tuple [:free-var "x"] [:free-var "low-bound"] [:free-var "high-bound"]]]
 :pos [236 332]}
 "lox0rpf07sy1sd" 
{:cable-midpoints 
{1 [11 -148]}
 :inputs ["init" "sig~"]
 :label "z-1($init $sig~)"
 :outputs [""]
 :parsed [:fn "z-1" [:tuple [:free-var "init"] [:free-var "sig~"]]]
 :pos [-44 183]}
 "qv7gqqk2pnqr04y" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [180 270]}
 "to6dhmf9g9rup39" 
{:inputs ["a" "b" "more..."]
 :label "*"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more..."]]
 :pos [110 183]}
 "zdkxt6e27u089mq" 
{:cable-midpoints 
{}
 :inputs ["a"]
 :label "Neg($a)"
 :outputs [""]
 :parsed [:fn "Neg" [:tuple [:free-var "a"]]]
 :pos [-224 -72]}}
 :scale 1
 :scroll [0 0]}}