{:documentation "Convert 'dB' from decibel scale to linear gain coefficient.\n"
 :draft-argument "-6"
 :identifier "From-dB"
 :identity "niz8xti8x7dks6q"
 :patch
{:cables
{["1kr6uaw7cmbb3dt" 0] [:fixed "mq5wpf10q1ls2rc" 0]
 ["te4zfibrqjcug78" 0] [:fixed "1kr6uaw7cmbb3dt" 0]}
 :nodes
{"1kr6uaw7cmbb3dt" 
{:inputs ["a"]
 :label "/ 20"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "/" [:float "20"]]
 :pos [-59 2]}
 "mq5wpf10q1ls2rc" 
{:inputs []
 :label "db = arg"
 :outputs ["db"]
 :parsed "arg"
 :pos [-183 2]}
 "te4zfibrqjcug78" 
{:inputs ["b"]
 :label "Math:Pow(10 $b)"
 :outputs [""]
 :parsed [:fn "Math:Pow" [:tuple [:float "10"] [:free-var "b"]]]
 :pos [107 2]}
 "yjtw4mmy3cjjblj" 
{:inputs []
 :label "; # Decibels to Gain Coefficient #\n\n\nThis function computes the decibel to linear formula of 10^(dB/20)"
 :outputs []
 :parsed [:comment "# Decibels to Gain Coefficient #\n\n\nThis function computes the decibel to linear formula of 10^(dB/20)"]
 :pos [-24 -210]}}
 :scale 1
 :scroll [0 0]}}