{:documentation "Simple compressor with a single time constant setting for attack and release."
 :draft-argument "Test-Drums()"
 :export 
{:arguments 
{"sig" 
{:signal-type "audio"}}
 :export-this-tab true
 :user-interface 
{"lag time" true
 "makeup gain" true
 "ratio" true
 "threshold" true}}
 :identifier "Simple-Compressor"
 :identity "3nse16v9u7um7uz"
 :patch
{:cables
{["2j3v231m0jk3thv" 0] [:fixed "5mcstichevt59el" 0]
 ["2j3v231m0jk3thv" 1] [:fixed "y9740b8ps8vevpz" 0]
 ["3klnz203x9fs42u" 0] [:fixed "x56u281lc3y3oj1" 0]
 ["3klnz203x9fs42u" 1] [:fixed "2j3v231m0jk3thv" 0]
 ["3klnz203x9fs42u" 2] [:fixed "7zvuy3clb9jjzjo" 0]
 ["5mcstichevt59el" 0] [:fixed "x56u281lc3y3oj1" 0]
 ["5mcstichevt59el" 1] [:fixed "m2lcjs8hnfz9efw" 0]
 ["5mcstichevt59el" 2] [:fixed "yw9qsy1a948rsq" 0]
 ["7zvuy3clb9jjzjo" 0] [:fixed "glpro485l3w7vt5" 0]
 ["ls8ze754hvnf3jy" 0] [:fixed "3klnz203x9fs42u" 0]}
 :nodes
{"2j3v231m0jk3thv" 
{:inputs ["sig" "lag"]
 :label "Lag($sig $lag)"
 :name "lag circuit"
 :outputs [""]
 :parsed [:fn "Lag" [:tuple [:free-var "sig"] [:free-var "lag"]]]
 :pos [143 127]
 }
 "2mb3pa782n3i62t" 
{:inputs []
 :label ";### Next up.... ###\n\n\nCheck out how to add [attack and release!](#2)"
 :outputs []
 :parsed [:comment "### Next up.... ###\n\n\nCheck out how to add [attack and release!](#2)"]
 :pos [-298 318]
 }
 "3klnz203x9fs42u" 
{:ephemeral-inputs #{"more"}
 :inputs ["a" "b" "more" "more..."]
 :label "*"
 :name "gain stage"
 :outputs [""]
 :parsed [:infix [:free-var "a"] "*" [:free-var "b"] [:free-var "more"] [:free-var "more..."]]
 :pos [284 223]
 }
 "5mcstichevt59el" 
{:inputs ["sig" "threshold" "ratio"]
 :label "Attenuation($sig $threshold $ratio)"
 :name "find gain target"
 :outputs [""]
 :parsed [:fn "Attenuation" [:tuple [:free-var "sig"] [:free-var "threshold"] [:free-var "ratio"]]]
 :pos [-69 117]
 }
 "7zvuy3clb9jjzjo" 
{:inputs ["db"]
 :label "From-dB($db)"
 :outputs [""]
 :parsed [:fn "From-dB" [:tuple [:free-var "db"]]]
 :pos [259 17]
 }
 "8x2ukaa8j1qb7y3" 
{:inputs []
 :label "; # Simple Compressor #\n\n\nThis circuit combines the attenuation target computation with a `Lag` circuit.\n\n\n`Lag` is important, since applying the attenuation immediately would result in nothing but a simple distortion."
 :outputs []
 :parsed [:comment "# Simple Compressor #\n\n\nThis circuit combines the attenuation target computation with a `Lag` circuit.\n\n\n`Lag` is important, since applying the attenuation immediately would result in nothing but a simple distortion."]
 :pos [-264 -435]
 }
 "glpro485l3w7vt5" 
{:color 3
 :inputs []
 :label "-24 .o 24"
 :name "makeup gain"
 :outputs [""]
 :parsed [:widget "sqrves" 0.665 {:type :dial, :skin :circular, :min [:float "-24"], :max [:float "24"]}]
 :pos [172 -187]
 }
 "ls8ze754hvnf3jy" 
{:cable-midpoints 
{0 [-106 146]}
 :inputs ["sig"]
 :label "o))"
 :name "play here!"
 :outputs ["thru"]
 :parsed [:playback [:free-var "sig"]]
 :pos [38 330]
 }
 "m2lcjs8hnfz9efw" 
{:color 3
 :inputs []
 :label "-60 -o- 0"
 :name "threshold"
 :outputs [""]
 :parsed [:widget "uni72b" 0.1861903599330357 {:type :slider, :limits [[:float "-60"] [:float "0"]], :render [:limits], :size 3, :orientation :vertical, :curve :linear}]
 :pos [-315 -187]
 }
 "x56u281lc3y3oj1" 
{:inputs []
 :label "sig = arg"
 :name "test sound"
 :outputs ["sig"]
 :parsed "arg"
 :pos [-457 223]
 }
 "y9740b8ps8vevpz" 
{:color 3
 :inputs []
 :label "0.01 -x- 2.5"
 :name "lag time"
 :outputs [""]
 :parsed [:widget "-rv09as" 0.15761893136160715 {:type :slider, :limits [[:float "0.01"] [:float "2.5"]], :render [:limits], :size 3, :orientation :vertical, :curve :exponential}]
 :pos [57 -187]
 }
 "yw9qsy1a948rsq" 
{:color 3
 :inputs []
 :label "1 .o 8"
 :name "ratio"
 :outputs [""]
 :parsed [:widget "-jsjz0b" 0.6199999999999999 {:type :dial, :skin :circular, :min [:float "1"], :max [:float "8"]}]
 :pos [-119 -145]
 }}
 :scale 1
 :scroll [0 0]}}